#!/usr/bin/env bash

# ssh
export SSH_KEY_PATH="~/.ssh/id_rsa"

export MANPATH="/usr/local/man:$MANPATH"

export EDITOR=nvim

export LANG=en_US.UTF-8

# Path to your oh-my-zsh installation.
export ZSH=~/.oh-my-zsh

# Golang
export GOROOT=/usr/local/opt/go/libexec
export GOPATH=$HOME/.go
export PATH=$PATH:$GOROOT/bin:$GOPATH/bin
